@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sriracha&display=swap');

:root {
    --filmSize: 21vmax;
    /*? ขนาดของแต่ละ film*/
    --handWriting: 'Caveat', 'Sriracha', cursive;
}

body {
    margin: 0;
    overflow: auto;

    background-color: #252525;
    animation: fade-zoom-out 1.5s 1 forwards;
}

/* .grid {
    display: grid;
    grid-template-columns: [header-start content-start] 1fr [header-end content-end];
    grid-template-rows: [header-start] 50px [header-end content-start] 1fr [content-end];
} */

.back-btn {
    width: max-content;
    height: max-content;
    padding: 5px 15px;
    position: absolute;
    top: 2vh;
    left: 2vh;

    background-color: #efefef;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;

    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: .25s;
}

.back-btn:hover {
    background-color: #ff8383;
    transform: scale(1.2) rotateZ(-5deg);
}

.back-btn:active {
    background-color: #c26464;
    transform: scale(0.9) rotateZ(-5deg);
}

.back-btn > div:nth-child(2) {
    font-family: var(--handWriting);
    font-weight: bold;
    font-size: 1.5em;
}

.header {
    width: 100%;
    /* grid-area: header; */
    position: absolute;
    display: flex;
    justify-content: center;

    margin-top: 6vh;
}

.header > div {
    font-family: var(--handWriting);
    font-size: 90px;
    color: #efefef;
    transform: rotateZ(-3deg);
    transition: .25s;
}

.content {
    width: 100vw;
    height: 100vh;

    /* grid-area: content; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw
}

/* #text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text > div:nth-child(1) {
    color: #e0e0e0;
    font-size: 5vw;
}
#text > div:nth-child(2) {
    color: #b7b7b7;
    font-size: 2vw;
} */

.film {
    /* background-color: transparent; */
    width: calc((var(--filmSize) / 100) * 76.5); /*? 76.5% ของตัวตั้ง */
    height: var(--filmSize); /*? ตัวตั้ง 100% */
    perspective: 1000px;

    cursor: pointer;
}

.film-inner {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transition: 1s;
}

.film-front,
.film-back {
    width: inherit;
    height: inherit;
    filter: drop-shadow(0px 6px 10px #2525253f);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.film-front {
    background-color: #efefef;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.film-front>.place-image {
    width: 86%;
    height: 65.8%;
    margin-top: 12%;
    box-shadow: inset 0px 0px 5px 0px #252525c5;
    /* background-color: green; */
    overflow: hidden;
}

.film-front>.place-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    /* filter: sepia(0.25) contrast(2) saturate(0.7) ; */
    z-index: -1;
}

.film-front>.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film-front>.bottom>.sticker {
    font-size: 1.5vmax;
    transform: scale(2.5) translate(30%, -80%) rotateZ(-15deg);
    text-shadow: 0px 0px 1px #0008;
}

.film-front>.bottom>.date {
    font-family: var(--handWriting);
    font-size: 1.5vmax;
    font-weight: bold;
    color: #222;
    transform: translate(-20%, -40%) rotateZ(-5deg);
}

.film-back {
    background-color: #efefef;
    transform: rotateY(180deg);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 1fr;

    font-family: var(--handWriting);
    color: #252525;
}

.film-back > .diary-header {
    grid-area: 1 / 1 / 2 / 2;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.film-back > .diary-content {
    grid-area: 2 / 1 / 3 / 2;
    /* background-color: green; */
}

.film-back > .diary-header > div:nth-child(1) {
    font-weight: bold;
}

.film-back > .diary-header > div:nth-child(2) {

}

.film-back > .diary-content > div {
    
}

/* .film:hover .film-inner {
    transform: rotateY(180deg);
} */

@keyframes fade-zoom-out {
    from {
        transform: scale(0.95);
        opacity: 0%;
    }

    to {
        transform: scale(1);
        opacity: 100%;
    }
}

@media (max-width: 900px) {
    .header > div {
        font-size: 10vw;
    }
}